{% extends 'admin_base_layout.html' %}
{% block title %}Kamar{% endblock %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Kamar
            <small>Kamar</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#"><i class="fa fa-bed"></i> Kamar</a></li>
            <li class="active">Kamar</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Data Kamar</h3>
                <div class="pull-right">
                    <a href="{{ url_for('admin.user_add') }}" class="btn btn-success btn-flat">
                        <i class="fa fa-plus"></i>
                        Tambah
                    </a>
                </div>
            </div>
            <div class="box-body table-responsive">
                <table id="table_wisma" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nama Kamar</th>
                        <th>Kelas Kamar</th>
                        <th>Kondisi</th>
                        <th>Harga</th>
                        <th>Aksi</th>
                    </tr>
                    </thead>
{#                    <tbody>#}
{#                    {% for kamar in kamars %}<tr>#}
{#                        <td>{{ loop.index }}</td>#}
{#                        <td>{{ kamar.nama_kamar }}</td>#}
{#                        <td>{{ kamar.id_kelas_kamar }}</td>#}
{#                        <td>{{ kamar.kondisi }}</td>#}
{#                        <td>{{ kamar.harga_kelas }}</td>#}
{#                        <td class="text-center" style="width: 150px">#}
{#                            <form action="" method="post">#}
{#                                <a href="#" class="btn bg-purple btn-sm">#}
{#                                    <i class="fa fa-pencil"></i>#}
{#                                    Update#}
{#                                </a>#}
{#                                <input type="hidden" name="id_kamar" value="{{ kamar.id }}">#}
{#                                <button onclick="return confirm('Apakah anda yakin?')" class="btn btn-danger btn-sm">#}
{#                                    <i class="fa fa-trash"></i>#}
{#                                    Hapus#}
{#                                </button>#}
{#                            </form>#}
{#                        </td>#}
{#                    </tr>{% endfor %}#}
{#                    </tbody>#}
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
{% endblock %}
{% block page_script %}<!-- DataTables -->
    <script src="{{ url_for('admin.static', filename='assets/bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('admin.static', filename='assets/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('#table_wisma').DataTable();
        });
    </script>
    <!-- AdminLTE for demo purposes -->
    <script src="{{ url_for('admin.static', filename='assets/dist/js/demo.js') }}"></script>{% endblock %}