{% extends 'admin_base_layout.html' %}
{% block title %}Kamar{% endblock %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Kamar
            <small>Kelas Kamar</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#"><i class="fa fa-bed"></i> Kamar</a></li>
            <li class="active">Kelas Kamar</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Data Kelas Kamar</h3>
                <div class="pull-right">
                    <a href="{{ url_for('admin.kelas_kamar_add') }}" class="btn btn-success btn-flat">
                        <i class="fa fa-plus"></i>
                        Tambah
                    </a>
                </div>
            </div>
            <div class="box-body table-responsive">
                <table id="table_kelas_kamar" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nama Kelas</th>
                            <th>Wisma</th>
                            <th>Harga Kelas</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for kelas_kamar in kelas_kamars %}
                        <tr id="row-{{ kelas_kamar[0].id }}">
                            <td>{{ loop.index }}</td>
                            <td>{{ kelas_kamar[0].nama_kelas }}</td>
                            <td>{{ kelas_kamar[1].nama_wisma }}</td>
                            <td class="uang">{{ kelas_kamar[0].harga_kelas }}</td>
                            <td class="text-center" style="width: 150px">
                                <a href="{{ url_for('admin.kelas_kamar_update', id_data=kelas_kamar[0].id) }}" class="btn bg-purple btn-sm">
                                    <i class="fa fa-pencil"></i>
                                    Update
                                </a>
                                <button onclick="delete_confirmation('kelas_kamar', {{ kelas_kamar[0].id }})" class="btn btn-danger btn-sm">
                                    <i class="fa fa-trash"></i>
                                    Hapus
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
{% endblock %}
{% block custom_page_script %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <script>
                $(document).ready(function () {
                    {% for category, message in messages %}
                        show_notification('{{ category }}', '{{ message }}');
                    {% endfor %}
                });
            </script>
        {% endif %}
    {% endwith %}
{% endblock %}