{% extends 'admin_base_layout.html' %}
{% block title %}User{% endblock %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Users
            <small>Pengguna</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#"><i class="fa fa-users"></i> Users</a></li>
            <li class="active">Tambah</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Tambah Pengguna</h3>
                <div class="pull-right">
                    <a href="{{ url_for('admin.user_data') }}" class="btn btn-warning btn-flat">
                        <i class="fa fa-undo"></i>
                        Kembali
                    </a>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <form action="" method="post">
                            {{ form.csrf_token }}
                            <div class="form-group {% if form.nama.errors %}has-error{% endif %}">
                                <label>Nama *</label>
                                <input type="text" name="nama" class="form-control" value="{% if form.nama.data %}{{ form.nama.data }}{% endif %}" required>
                            </div>
                            <div class="form-group {% if form.username.errors %}has-error{% endif %}{% if username_exist %}has-error{% endif %}">
                                <label>Username *</label>
                                <input type="text" name="username" class="form-control" value="{% if form.username.data %}{{ form.username.data }}{% endif %}" required>
                                {% if username_exist %}<span class="help-block">Username sudah dipakai, silahkan ganti lain!</span>{% endif %}
                            </div>
                            <div class="form-group {% if form.password.errors %}has-error{% endif %}">
                                <label>Password *</label>
                                <input type="password" name="password" class="form-control" required value="{% if form.password.data %}{{ form.password.data }}{% endif %}">
                            </div>
                            <div class="form-group {% if form.password_confirmation.errors %}has-error{% endif %}">
                                <label>Konfirmasi Password *</label>
                                <input type="password" name="password_confirmation" class="form-control" required value="{% if form.password_confirmation.data %}{{ form.password_confirmation.data }}{% endif %}">
                            </div>
                            <div class="form-group {% if form.jabatan.errors %}has-error{% endif %}">
                                <label>Jabatan *</label>
                                <select name="jabatan" class="form-control">
                                    <option value="0" {% if form.jabatan.data == '0' %}selected{% endif %}>Admin</option>
                                    <option value="1" {% if form.jabatan.data == '1' %}selected{% endif %}>Operator</option>
                                </select>
                            </div>
                            <div class="form-group {% if form.status.errors %}has-error{% endif %}" style="display: none">
                                <label>Status *</label>
                                <select name="status" class="form-control">
                                    <option value="1" {% if form.status.data == '1' %}selected{% endif %}>Aktif</option>
                                    <option value="0" {% if form.status.data == '0' %}selected{% endif %}>Nonaktif</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-flat">
                                    <i class="fa fa-paper-plane"></i>
                                    Simpan
                                </button>
                                <button type="reset" class="btn btn-flat">
                                    <i class="fa fa-recycle"></i>
                                    Reset
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
{% endblock %}