{% extends 'admin/admin_base_layout.html' %}
{% block title %}Wisma{% endblock %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Wisma
            <small>Wisma</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Wisma</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        {% if success == True %}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>
                {{ msg }}
            </div>
        {% elif success == False %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                {{ msg }}
            </div>
        {% endif %}
        <!-- Default box -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Data Wisma</h3>
                <div class="pull-right">
                    <a href="{{ url_for('admin_wisma_add') }}" class="btn btn-success btn-flat">
                        <i class="fa fa-plus"></i>
                        Tambah
                    </a>
                </div>
            </div>
            <div class="box-body table-responsive">
                <table id="table_wisma" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nama Wisma</th>
                        <th>Alamat Wisma</th>
                        <th>No. Telp</th>
                        <th>Aksi</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for wisma in wismas %}<tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ wisma.nama_wisma }}</td>
                        <td>{{ wisma.alamat_wisma }}</td>
                        <td>{{ wisma.no_telp }}</td>
                        <td class="text-center" style="width: 150px">
                            <form action="{{ url_for('admin_wisma_del') }}" method="post">
                                {{ form.csrf_token }}
                                <a href="{{ url_for('admin_wisma_edit', id_wisma=wisma.id) }}" class="btn bg-purple btn-sm">
                                    <i class="fa fa-pencil"></i>
                                    Update
                                </a>
                                <input type="hidden" name="id_wisma" value="{{ wisma.id }}">
                                <button onclick="return confirm('Apakah anda yakin?')" class="btn btn-danger btn-sm">
                                    <i class="fa fa-trash"></i>
                                    Hapus
                                </button>
                            </form>
                        </td>
                    </tr>{% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
{% endblock %}
{% block page_script %}<!-- DataTables -->
    <script src="{{ url_for('static', filename='assets/bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('#table_wisma').DataTable()
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    toastr.options = {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": true,
                        "progressBar": false,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    {% for category, message in messages %}
                        {% if category == 'success' %}
                            toastr['success']('{{ message }}', 'Sukses')
                        {% elif category == 'error' %}
                            toastr['error']('{{ message }}', 'Error')
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        });
    </script>
    <!-- AdminLTE for demo purposes -->
    <script src="{{ url_for('static', filename='assets/dist/js/demo.js') }}"></script>{% endblock %}